body
{
  background-image: url("/images/backgrounf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.first-col
{
  height: 20%;
  margin-top: 260px;
  background: linear-gradient(
                 rgba(20,20,20, .5),
                 rgba(20,20,20, .5));
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  color: red;
}
.first-col:hover
{
  background: linear-gradient(
                 rgba(10,10,10, .9),
                 rgba(10,10,10, .9));
}
.first
{
  background-image: url("/images/single.jpg");
  height:300px;
  background-size: cover;
}
.second
{
  background-image: url("/images/monthly.jpg");
  height:300px;
  background-size: cover;
}
.header
{
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
}
