div.forms
{
  border-radius: 5px;
  margin-left: 10%;
     background-color: #f2f2f2;
     width: 100%;
     height: auto;
     padding: 60px;
  }
.container
{
  margin-left: 20%;
  margin: 50px 100px 20px;
}
input
{
  border-radius: 5px;
  height: 35px;
  margin-top: 10px;
  border-left: 8px;
}
input.ng-invalid
{
  /* border-color: red; */
}
input.ng-valid{
  border-color: lime;
}
.title
{
  padding: 2px;
  width: 10%;
}
.fname
{
  /* border-left: 5px; */
  margin-left: 40px;
  border-radius: 5px;
  width: 40%;
  height: 30px;
  border-style: inset;
  /* border-color: #0000; */
}
.lname
{
  /* border-left: 5px; */
  border-radius: 5px;
  width: 30%;
  height: 30px;
  border-style: inset;
  /* border-color: #0000; */
}
select
{
  border-radius: 5px;
  margin-left: 40px;
}
.house
{
  /* border-left: 8px; */
  border-radius: 5px;
  margin-top: 10px;
  width: 70.2%;
  height: 35px;
  margin-left:15px;
}
.Street
{
  /* border-left: 5px; */
  margin-left: 80px;
  border-radius: 5px;
  margin-top: 10px;
  width: 70.5%;
  height: 35px;
}
.land
{
  border-radius: 5px;
  width: 70.5%;
  height: 35px;
  margin-left: 80px;
  margin-top: 10px;
}
.state{
  margin-left: 30px;
  margin-top: 10px;
  padding: 5px;
  width: 25%;
  margin-right: 50px;
}
.dist
{
  width: 30%;
  padding: 5px;
}
.pin
{
  margin-left: 12px;
  border-radius: 5px;
  width: 30%;
  height: 35px;
  margin-top: 10px;
}
.gender
{
  margin-top: 15px;
  margin-right: 20px;
}
.phone
{
  margin-left: 28px;
  width: 30%;
}
.mail
{
  margin-left: 35px;
  width: 60%;
}
.zone
{
  margin-left: 30px;
  margin-top: 10px;
  padding: 5px;
  width: 25%;
  margin-right: 50px;
}
.pass{
  width: 40%;
  margin-left: 5px;
}
.btn-primary
{
  width: 100px;
  height: 40px;
  margin-left: 40%;
  margin-top: 10px;
}
.btn-primary:hover
{
  opacity: 0.8;
}
/* form[notvalidate]
{
  border-left: 8px;
  border-color: red;
  border-style: solid;
}
input[required].ng-pristine
{
  border-color: blue;
}
input.ng-invalid.ng-dirty
{
  border-color: green;
}
input.ng-valid.ng-dirty
{
  border-color: yellow;
} */
/* .dropdow
{
  width: 60px;
  height: 20px;
  background-color: white;
}
.indent_title
{
  margin-left: 3.4%;
}
.indent
{
  margin-left: 2.5%;
  width: 30%;
}
.address
{
  margin-left: 1.5%;
  width: 30%;
  height: 90px;
} */
/* ---->responsive */
@media (max-width:1024px) {
  .dist
  {
    width: 26%;
  }
}
@media (max-width:992px) {
  .distlab
  {
    margin-left: 0px;
  }
  .dist
  {
    margin-left: 0px;
    width: 26%;
  }
  .title
  {
    width: 10%;
  }
}
@media (max-width:850px) {
  .state
  {
    width: 70.5%;
    margin-right: 40px;
  }
  .dist
  {
    width: 50%;
    margin-top: 3px;
  }
  .distlab
  {
    margin-right: 10px;
  }
  .title
  {
    width: 15%;
  }
}
@media (max-width:768px) {
  .state
  {
    width: 282px;
  }
  .dist
  {
    margin-left: 10px;
  }
  .distlab
  {
    margin-right: 1px;
  }
  .title
  {
    width: 15%;
    
  }
}
@media (max-width:760px) {
  .state
  {
    width: 276px;
  }
}
@media (max-width:744px) {
  /* .container
  {
    margin: 0px;
    padding: 0px;
  } */
  .state
  {
    margin-left: 28px;
    margin-right: 40%;
  }
  .statelab
  {
    margin-right: 0px;
  }
  .dist
  {
    width: 276px;
  }
}
@media (max-width:737px) {
  .state
  {
    margin-left: 4%;
  }
  .statelab
  {
    margin-right: 4px;
  }
}
@media (max-width:709px) {
  .container
  {
    margin: 0px;
    padding: 0px;
  }
  .statelab
  {
    margin-right: 2.5%;
  }
  .state
  {
    margin-left: 2%;
  }
}
@media (max-width:635px) {

  .fname,.lname,.house,.Street,.land,.pin,.phone,.mail,.pass
  {
    margin-left: 0px;
    width: 100%;
  }
  .dist,.state
  {
    margin-left: 0px;
    width: 100%;
  }
  .title
  {
    width: 15%;
  }
  .lab,.statelab,.distlab
  {
    margin-top:0%;
  }
  .fname,.house,.state,.dist,.pin,.phone,.mail,.pass
  {
    margin-top: 0px;
  }
  .lname,.land,.state,.dist,.phone,.mail,.pass
  {
    margin-bottom: 20px;
  }
}/* /responsive */
